@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
  --brand-blue: #08227f;      /* <-- couleur fournie */
  --brand-blue-600: #061b68;  /* teinte plus foncée */
  --brand-blue-50: #eef2ff;   /* teinte très claire pour fonds légers */
  --text-on-brand: #ffffff;
}
